/* Untuk Tablet */
@media all and (max-width: 1000px) {
/*  ed */
  header {
    width: 100%;
    overflow: hidden;
  }
  .header-logo {
    padding-left: 50px;
  }

  .right-header {
    padding-right: 50px;
  }

  .right-header li {
    font-size: 16px;
  }

  .header-hero h1 {
    font-size: 24px;
    letter-spacing: 10px;
  }

  .header-hero p {
    font-size: 16px;
  }

  .top-button {
    font-size: 20px;
  }

  .content {
    padding: 0 100px;
  }

  .content h2 {
    font-size: 20px;
    margin-bottom: 23px;
  }

  .content p {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .content-section img {
    max-width: 300px;
    width: 100%;
  }

  .content-description {
    width: 50%;
  }
  
/*  dewi    */
    .text-box {
        font-size: 13px;
    }
   
    .background-white {
        padding: 35px 0px 85px 0px;
    }

    .background-car2 {
        padding: 130px 0px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

/*  ed  */
  .right-header {
    display: none;
  }

  .header-logo {
    width: 100px;
  }

  .header-hero {
    padding: 200px 50px 0;
    text-align: left;
  }

  .top-button {
    width: 100%;
    font-size: 16px;
  }

  .content {
    padding: 0 50px;
  }
  
  .content-section {
    height: 1250px;
  }

  .content img {
    width: 100%;
  }

  .content-description {
    width: 100%;
    margin-bottom: 50px;
  }
  .second img {
    float: left;
  }
  
  
/*  dewi  */
    .box {
      display: block;
      height: 50%;
      width: 60%;
      font-size: 50px;
      margin: 6% 3% 1% 20%;
    }

    .tweet {
        margin: -5% 0%;
    }

    .tweet-image {
        width: 50%;
    }

    .background-white {
        padding: 35px 0px 75px 0px;
    }

    h2 {
        font-size: 160%;
    }

    .background-grey {
        padding: 50px 0px 80px 0px;
    }

    .text-box {
        font-size: 35%;
    }

    .background-car2 {
        padding: 30px 0px;
    }

    .btn {
        padding: 2% 12%;
        font-size: 85%;
    }

    footer h4 {
        font-size: 40px;
    }

    footer p {
        font-size: 30px;
    }

    .subscriber {
        display: inline-grid;
    }

    input {
        padding: 10% 25%;
        font-size: 100%;
        text-align: center;
        margin: 25px 0px;
    }

    footer .btn {
        padding: 20px 0px;
        font-size: 150%;
    }

    .background-black {
        padding: 40px 0px;
    }
}

