/* Ed-start */

/* Tablet */

@media (max-width: 1000px) {
  header {
    width: 100%;
    overflow: hidden;
  }
  .header-logo {
    padding-left: 50px;
  }

  .right-header {
    padding-right: 50px;
  }

  .right-header li {
    font-size: 16px;
  }

  .header-hero h1 {
    font-size: 24px;
    letter-spacing: 10px;
  }

  .header-hero p {
    font-size: 16px;
  }

  .top-button {
    font-size: 20px;
  }

  .content {
    padding: 0 100px;
  }

  .content h2 {
    font-size: 20px;
    margin-bottom: 23px;
  }

  .content p {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .content-section img {
    max-width: 300px;
    width: 100%;
  }

  .content-description {
    width: 50%;
  }
}

/* Mobile */

@media (max-width: 650px) {
  .right-header {
    display: none;
  }

  .header-logo {
    width: 100px;
  }

  .header-hero {
    padding: 200px 50px 0;
    text-align: left;
  }

  .top-button {
    width: 100%;
    font-size: 16px;
  }

  .content {
    padding: 0 50px;
  }

  .content img {
    width: 100%;
  }

  .content-description {
    width: 100%;
    margin-bottom: 50px;
  }
  .second img {
    float: left;
  }
}

/* Ed-end */
