/* Edgar */
/* Reset css */

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

/* Border-box for consistent sizing */
header,
top-main {
  box-sizing: border-box;
}

/* Nav-bar section */
.nav-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-logo {
  padding: 32px 0 0 90px;
  width: 150px;
  float: left;
}

.right-header {
  color: white;
  float: right;
  padding-right: 90px;
}

.right-header li {
  float: left;
  list-style: none;
  font-size: 20px;
  margin-left: 90px;
  padding: 32px;
}

.right-header li:hover {
  color: #fb0c1d;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  border-bottom: 3px solid #fb0c1d;
  transition: all 0.5s;
}

/* Hero section */
.hero-section {
  background-image: url(top-assets/hero-background.png);
  background-size: cover;
  height: 100vh;
}

.header-hero {
  padding-top: 400px;
  text-align: center;
  color: #ffffff;
}

.header-hero h1 {
  font-size: 40px;
  letter-spacing: 20px;
  margin-bottom: 60px;
  position: relative;
  animation: move-left 2s;
}

.header-hero p {
  position: relative;
  font-size: 24px;
  margin-bottom: 100px;
  letter-spacing: 2px;
  animation: move-right 2s;
}

.top-button {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 13px 72px;
  background-color: #fb0c1d;
  border-radius: 4px;
}

.top-button:hover {
  color: #fb0c1d;
  background-color: transparent;
  border: 1px solid #fb0c1d;
}

/* Content section */

.content-section {
  margin: 75px 300px;
}

.content-section img {
  max-width: 500px;
  width: 100%;
  flex: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content-description {
  width: 50%;
  flex: auto;
  padding: 40px;
}

.content h2 {
  font-size: 28px;
  margin-bottom: 23px;
}

.content p {
  font-size: 20px;
  margin-bottom: 40px;
}

/* Animation */

@keyframes move-left {
  0% {
    opacity: 0;
    left: 200px;
  }

  50% {
    opacity: 0.5;
    left: 100px;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes move-right {
  0% {
    opacity: 0;
    right: 200px;
  }

  50% {
    opacity: 0.5;
    right: 100px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}
  

/* Dewi */
/* Element HTML */
body {
    font-family: "Verdana";
}

span {
    color: white;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    margin: 10px 0px;
}

/* font color */
.font-white {
    color: white;
}

.font-black {
    color: black;
}

.font-red {
    color: red;
}


/* bottom main style */
.bottom-main {
    text-align: center;
}

.background-grey {
    background-color: rgba(207, 204, 204, 0.999); 
    padding: 50px 0px 65px 0px;
}

.tweet {
    margin: -10% 0%;
}

.tweet-image {
    width: 150px;
}

.background-car2 {
    background-image: url("assets/img/footer-background.png");
    background-size: cover;
    padding: 200px 0px;
    text-align: center;
}

.btn {
    background-color: #be1111;
    cursor: pointer;
    padding: 12px 60px;
    margin-top: 15px;
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.btn:hover {
    opacity: 1;
    background-color: teal;
    transition-duration: 0.5s;
}

input {
    padding: 12px 12px;
}

.box {
    height: 250px;
    display: inline-block;
    width: 25%;
    font-size: 20px;
    margin: 3% 3% 1% 3%;
}

.text-box {
    padding: 3% 15%;
    font-size: 75%;
    font-style: italic;
}

/* footer style */
.background-white {
    padding: 45px 0px 85px 0px;
    background-color: white;
}

.background-black {
    background-color: black;
    padding-top: 50px;
}

footer {
    text-align: center;
}
