/* Ed-start*/

/* Reset css */

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

/* Border-box for consistent sizing */
header,
top-main {
  box-sizing: border-box;
}

/* Nav-bar section */
.nav-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-logo {
  padding: 32px 0 0 90px;
  width: 150px;
  float: left;
}

.right-header {
  color: white;
  float: right;
  padding-right: 90px;
}

.right-header li {
  float: left;
  list-style: none;
  font-size: 20px;
  padding: 32px 45px;
}

.right-header li:hover {
  color: #fb0c1d;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  border-bottom: 3px solid #fb0c1d;
  transition: all 0.5s;
}

/* Hero section */
.hero-section {
  background-image: url(top-assets/hero-background.png);
  background-size: cover;
  height: 100vh;
}

.header-hero {
  padding-top: 400px;
  text-align: center;
  color: #ffffff;
}

.header-hero h1 {
  font-size: 40px;
  letter-spacing: 20px;
  margin-bottom: 60px;
  position: relative;
  animation: move-left 3s;
}

.header-hero p {
  position: relative;
  font-size: 24px;
  margin-bottom: 100px;
  letter-spacing: 2px;
  animation: move-right 3s;
}

.top-button {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 13px 72px;
  background-color: #fb0c1d;
  border-radius: 4px;
  transition: all 0.3s;
}

.top-button:hover {
  color: #fb0c1d;
  background-color: transparent;
  border: 1px solid #fb0c1d;
}

/* Content section */

.content-section {
  margin: 75px auto;
  max-width: 1100px;
  height: 1000px;
}

.content {
  height: 350px;
}

.first img,
.third img {
  max-width: 500px;
  width: 100%;
  float: left;
}
.second img {
  max-width: 500px;
  width: 100%;
  float: right;
}

.content-description {
  width: 50%;
  float: right;
}

.content h2 {
  font-size: 28px;
  margin-bottom: 23px;
}

.content p {
  font-size: 20px;
  margin-bottom: 40px;
}

/* Animation */

@keyframes move-left {
  0% {
    opacity: 0;
    left: 200px;
  }

  50% {
    opacity: 0.5;
    left: 100px;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes move-right {
  0% {
    opacity: 0;
    right: 200px;
  }

  50% {
    opacity: 0.5;
    right: 100px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

/* Ed-end  */
